extends ./pug/layout-default

block body
	include pug/partials/header
	include pug/partials/preferences
	include pug/partials/choose
	include pug/partials/timer
	include pug/partials/feedback
	include pug/partials/shipping
	include pug/partials/scheme
	include pug/partials/ordering