.section.choose
	h2.title.choose__title
		| Выбери свою ёлку
	.choose__inner
		.description
			.description__inner
				h4.description__title
				ul.description__list
					| Маленькое описание:
					li.description__item
						| Маленькое описание комплекта
					li.description__item
						| Маленькое описание комплекта
					li.description__item
						| Маленькое описание комплекта	
		.price
			table.price__list
				tr
					th Высота ёлочки, см
					th Цена, руб.
					th Цена с учётом скидки 50%, руб.
				tr
					td 90
					td 90
					td 90
				tr
					td 120
					td 120
					td 120
				tr
					td 150
					td 150
					td 150
				tr
					td 180
					td 180
					td 180
				tr
					td 210
					td 210
					td 210
				tr
					td 270
					td 270
					td 270
				tr
					td 300
					td 300
					td 300
			a.button-link.price__btn(href="#")
				| закажите ёлку	сейчас
	.choose__inner
		.description
			.description__inner
				h4.description__title
				ul.description__list
					| Маленькое описание:
					li.description__item
						| Маленькое описание комплекта
					li.description__item
						| Маленькое описание комплекта
					li.description__item
						| Маленькое описание комплекта	
		.price
			table.price__list
				tr
					th Высота ёлочки, см
					th Цена, руб.
					th Цена с учётом скидки 50%, руб.
				tr
					td 90
					td 90
					td 90
				tr
					td 120
					td 120
					td 120
				tr
					td 150
					td 150
					td 150
				tr
					td 180
					td 180
					td 180
				tr
					td 210
					td 210
					td 210
				tr
					td 270
					td 270
					td 270
				tr
					td 300
					td 300
					td 300
			a.button-link.price__btn(href="#")
				| закажите ёлку	сейчас			