section.feedbacks
	h2.title
		| Отзывы родных клиентов
	.feedback
		ul.feedback__list
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Силя Столоне
				p.feedback__text Я накачался, доставляя ёлки для клиентов Елки 59
				p.feedback__text Потом меня пригласили сниматься в голливуде
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Алла Борисовна
				p.feedback__text Просто Максим влюбился в моюёлку. И тут закрутилось
				p.feedback__text Спасибо Ёлкам 59 за счастливую старость
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Витя АК-47
				p.feedback__text Я поехал купить ёлку, но икарус не дал мне этого сделать.
				p.feedback__text Выбирайте доставку у Елки 59
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Силя Столоне
				p.feedback__text Я накачался, доставляя ёлки для клиентов Елки 59
				p.feedback__text Потом меня пригласили сниматься в голливуде
		ul.feedback__list
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Силя Столоне
				p.feedback__text Я накачался, доставляя ёлки для клиентов Елки 59
				p.feedback__text Потом меня пригласили сниматься в голливуде
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Алла Борисовна
				p.feedback__text Просто Максим влюбился в моюёлку. И тут закрутилось
				p.feedback__text Спасибо Ёлкам 59 за счастливую старость
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Витя АК-47
				p.feedback__text Я поехал купить ёлку, но икарус не дал мне этого сделать.
				p.feedback__text Выбирайте доставку у Елки 59
			li.feedback__item
				img.feedback__img(src="" alt="")
				h4.feedback__title Силя Столоне
				p.feedback__text Я накачался, доставляя ёлки для клиентов Елки 59
				p.feedback__text Потом меня пригласили сниматься в голливуде
					.discount__btn
		p.feedback__btn_text
			| нажмите на кнопку
			button.button-btn.feedback__button
				| заказать ёлку		