header.page-header
	.header__top
		.logo
			img.logo__img(src="images/logo.jpg" alt="Зелёный" width="" height="")
			h1.logo__text 
				|интернет-магазин #[br]исскуственный ёлок #[br]по Росии
		.fast 
			|#[b быстрая доставка] #[br]г.Пермь
		.call
			.call__text
				| Позвоните нам
			.call__number
				| +7 (342) 211-22-333
			button.button-btn.call__button(type="button" name="form-1") 
				| Закажите обратный звонок
	.discount
		.discount__inner
			h2.title.discount__title
				| распродажа #[br]исскуственных #[br]ёлок
			.discount__bage
				.discount__date
					| скидки до #[br]#[b.discount__date-strong 1 ноября]
				.discount__size 
					| 50%
			.discount__btn
				p.discount__btn_text
					| нажмите на кнопку
				button.button-btn.discount__button
					| выбрать ёлку
		.discount__inner
			.discount__price
				| #[b.discount__price-strong 5 800р.] 2900р.
