.preferences
	.advantage
		.advantage__item
			h4.advantage__title
				| Новогодний подарок
			p.advantage__text
				| каждову клиенту
		.advantage__item
			h4.advantage__title
				| Возможность возврата
			p.advantage__text
				| 14 дней
		.advantage__item
			h4.advantage__title
				| Оплата
			p.advantage__text
				| при получении
	.preferences__inner
		.differences
			.differences__inner
				ul.differences__list
					li.differences__item
						| Пушистая елка придаст #[br] Вам настроение праздника
					li.differences__item
						| Простая сборка понравится #[br] взрослым и детям
					li.differences__item
						| Без запаха и мусора
					li.differences__item
						| Компактное хранение
				.differences__pic
					img.differences__image(src="images/tree.jpg" alt="Новогодняя ёлка" width="" height="")
		.video
			h3.title.video__title
				| Посмотри видео!
			.video__ftame
			a.button-link.video__btn(href="#")
				| выбрать ёлку